* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

a {
text-decoration: none;
font-family: arial;
}

li {
list-style-type: none;
font-family: arial;
}

p, span, h2 {
font-family: arial;
}

/* header */

.header__wrapper {
    max-width: 1440px;
    padding-top: 50px;
    margin: 0 auto;
}

.header__text {
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
    padding: 40px;
    border-radius: 100px;
    width: 500px;
    border: 5px black solid; 
}   

/* main */

.main__img {
    width: 8%;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* footer */

.footer__wrapper {
    display: grid;
    justify-content: center;
    padding-top: 100px;
}

.footer__text {
    max-width: 1440px;
    margin: 0 auto;
    color: black;
    background-color: #C4C4C4;
    font-size: 40px;
    border-radius: 80px;
    padding: 10px 25px 10px 25px;
}

.footer__text-email {
    margin-bottom: 25px;
}

.footer__text-forgot-password {
    font-size: 15px;
    padding-left: 30px;
    color: rgb(123, 123, 123);
    margin-bottom: 50px;
}

.footer__text-bottom {
    border: 5px black solid;
    font-size: 30px;
    padding: 10px 40px 10px 40px;
}

