* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

a {
text-decoration: none;
font-family: arial;
}

li {
list-style-type: none;
font-family: arial;
}

p, span, h2 {
font-family: arial;
}

/* header */

.header__wrapper {
    max-width: 1440px;
    padding-top: 50px;
    margin: 0 auto;
}

.header__text {
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
    padding: 40px;
    border-radius: 100px;
    width: 500px;
    border: 5px black solid; 
}   

/* main */

.main__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 60px;
    padding-top: 100px;
}

.main__text {
    text-align: center;
}

/* footer */

.footer__wrapper {
    display: grid;
    justify-content: center;
    padding-top: 20px;
}

.footer__text {
    max-width: 1440px;
    margin: 0 auto;
    color: black;
    background-color: #C4C4C4;
    font-size: 35px;
    border: 5px black solid; 
    border-radius: 30px;
    padding: 20px 55px 20px 55px;
}

.footer__text-login {
    padding: 40px 85px 40px 85px;
    margin: 50px;
}

